/* Global styles */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
    --primary-color: #4CAF50;
    --secondary-color: #FF5722;
    --background-color: #f4f4f9;
    --text-color: #333;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    background-color: var(--primary-color);
    color: white;
    margin-bottom: 1rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.06); 
    margin: 0px;
}

header picture {
    padding-left: 1rem;
}

#menu {
    margin-top: 20px;
    padding: 10px 10px;
    background-color: transparent;
    border: none;
    color: white;
    display: block; 
    cursor: pointer;
    float: right;
    position: relative;
}

#menu::before {
	content: "☰";
    font-size: 2em;
}

#menu.open::before {
	content: "X";  
    font-size: 2em;
}

.navigation {
    display: none;
}

.navigation.open {
    display: block;
}

header nav ul {
    list-style: none;
    margin: 0px;
}

nav a, footer  {
    font-family: 'Oswald', Arial, sans-serif;
    font-style: normal;
    font-size: 1.4em;
    color: #ffffff;
    text-decoration: none;
    display: block;
    text-align: center;
    letter-spacing: 0.05em; 
    padding: 10px;
}

nav a:hover {
    text-decoration: underline;
}

nav a.active {
    text-decoration: underline;
}

footer {
    background: url('../images/background-green.png') repeat;

}

.hamburger {
    display: block;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
}

/* Index styles */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../images/hero-image.jpg') no-repeat center center/cover;
    color: white;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.9);
    height: 375px;
    padding: 2rem;
    margin: 0px;
}

.hero-content {
    text-align: center;
    max-width: 600px;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-family: 'Oswald', Arial, sans-serif;
    font-weight: 700;
    color: white;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.cta-button {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    padding: 0.75rem 2rem;
    font-size: 1.25rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.06); 
}

.cta-button:hover {
    background-color: var(--primary-color);
}

.welcome-section {
    text-align: center;
    background-color: #FFF;
    margin-top: -26px;
    padding: 26px 10px;
}
.welcome-section h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
}
.welcome-section p {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 1em;
    color: #333;
}
.welcome-section hr {
    width: 50px;
    border: 2px solid  var(--primary-color);
    margin: 0 auto 20px auto;
}


/* Rentals styles */


.rental-card {
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
    padding: 1em;
    margin: 1em 0;
    background-color: #FFF;
}

.rental-card img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 1em;
}
