/* Global styles */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
    --primary-color: #4CAF50;
    --secondary-color: #FF5722;
    --background-color: #f4f4f9;
    --text-color: #333;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    background-color: var(--primary-color);
    color: white;
    margin-bottom: 1rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.06); 
    margin: 0px;
}

header picture {
    padding-left: 1rem;
}

#menu {
    margin-top: 20px;
    padding: 10px 10px;
    background-color: transparent;
    border: none;
    color: white;
    display: block; 
    cursor: pointer;
    float: right;
    position: relative;
}

#menu::before {
	content: "☰";
    font-size: 2em;
}

#menu.open::before {
	content: "X";  
    font-size: 2em;
}

.navigation {
    display: none;
}

.navigation.open {
    display: block;
}

header nav ul {
    list-style: none;
    margin: 0px;
    
}

nav a, footer  {
    font-family: 'Oswald', Arial, sans-serif;
    font-style: normal;
    font-size: 1.4em;
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    letter-spacing: 0.05em; 
    padding: 10px;
    margin-top: 0px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);

}

nav a:hover {
    text-decoration: underline;
}

nav a.active {
    text-decoration: underline;
}


footer {
    background: url('../images/background-green.png') repeat;

}

.hamburger {
    display: block;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
}

/* Index styles */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../images/hero-image.webp'), url('../images/hero-image.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: white;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.9);
    height: 375px;
    padding: 2rem;
    margin: 0px;
}

.hero-content {
    text-align: center;
    max-width: 600px;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-family: 'Oswald', Arial, sans-serif;
    font-weight: 700;
    color: white;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.cta-button {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    padding: 0.75rem 2rem;
    font-size: 1.25rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.06); 
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.cta-button:hover {
    background-color: var(--primary-color);
}

.welcome-section {
    text-align: center;
    background-color: white;
    margin-top: -26px;
    padding: 26px 10px;
}
.welcome-section h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
}
.welcome-section p {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 1em;
    color: #333;
}
.welcome-section hr {
    width: 50px;
    border: 2px solid  var(--primary-color);
    margin: 0 auto 20px auto;
}

#weather {
    background-color: var(--secondary-color);
    color: white;
    padding: 20px 5px;
    text-align: left;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

#weather h2 {
    margin: 0;
    font-size: 1.2em;
    
}

.current-weather{
    margin-bottom: 30px;
}

.current-weather, .forecast-weather {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
 }

.current-weather p, .current-weather img {
    margin: 0 10px;
}

.forecast-weather p, .forecast-weather img {
    margin: 0 10px;
}

.banner {
    display: none; 
    background-color: #FFD700;
    color: #181818;
    padding: 10px;
    text-align: center;
    position: relative;
}

.banner.active {
    display: block;
}

#close-banner {
    position: absolute;
    right: 10px;
    top: 10px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

#banner button {
    margin-top: 10px;
}


/* Rentals styles */


.rentals-section {
    text-align: center;
    padding: 20px;
}

.rentals-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.rentals-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

.rental-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    text-align: left;
    overflow: hidden;
}

.rental-card picture, .rental-card img {
    width: 100%;
    height: auto;
}
.rental-card .rental-content {
    padding: 15px;
}
.rental-card .rental-content h3 {
    font-size: 1.5em;
    margin: 10px 0;
}
.rental-card .rental-content p {
    font-size: 1em;
    line-height: 1.6;
    color: #666;
}
.rental-card .rental-content .learn-more {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}
.rental-card .rental-content .learn-more:hover {
    background-color: var(--secondary-color);
}
