@media (min-width: 1700px) {
    /* Index styles */
    .hero {
        display: flex;
        justify-content: flex-end;
    }
    
    .hero-content {
        margin-right: 20em;
    }

    /* Rentals styles */

    .rental-card {
        flex: 1 1 calc(50% - 2em);
        margin: 1em;
    }
    
    .rental-card img {
        width: 150px;
    }
    
}

