@media (min-width: 1024px) {
    .hero {
        height: 500px;
    }

    .main-content {
        padding: 3rem;
    }

    header .logo {
        font-size: 2rem;
    }

    main {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .rental-card {
        flex: 1 1 calc(50% - 2em);
        margin: 1em;
    }
    
    .rental-card img {
        width: 150px;
    }
    
}

