@media (min-width: 1700px) {
    /* Index styles */
    .hero {
        display: flex;
        justify-content: flex-end;
    }
    
    .hero-content {
        margin-right: 20em;
    }

    /* Rentals styles */

    
  

    
}

