@media (min-width: 768px) {
    nav ul {
        flex-direction: row;
        justify-content: space-around;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
        gap: 20px;
    }

    header, footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #menu {
		display: none; 
	}

    .navigation {
        display: block;
    }
    
    .discover-main {
        grid-template-columns: 1fr 3fr; 
    }

    .discover-sidebar {
        grid-column: 1 / 2;
    }

    .discover-main-content {
        grid-column: 2 / 3;
    }

    .gallery {
        grid-template-columns: 1fr 1fr;
    }

    .gallery img:hover {
        transform: scale(1.05); 
    }

    figcaption {
        font-size: 1em;
    }

    .hero-content {
        padding: 10px;
        width: 90%; 
    }
    
    .hero-content h1 {
        font-size: 2.5em;
    }
    
    .hero-content p {
        font-size: 1.5em;
    }
    
    .hero-content h1 {
        display: block; 
    }
    
    .btn {
        padding: 8px 16px;
        margin-top: 5px; 
    }
   
    nav a.current {
        border-top: 4px solid #ffffff;
    }
}