:root {
    --main-font: Arial, sans-serif;
    --main-color: #333;
    --highlight-color: #007BFF;
    --highlight-color-hover: #0056b3; 
}

body {
    font-family: var(--main-font);
    color: var(--main-color);
}

form {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin-top: 30px;
    grid-column: span 2;
}

div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="range"] {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
}

button {
    background-color: var(--highlight-color);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--highlight-color-hover);
}
